---
import Layout from '../layouts/Layout.astro'
import Aboutus from '../components/Aboutus.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Info from '../components/Info.astro'
import Products from '../components/Products.astro'
import Product2 from '../components/Product2.astro'
import Benefit from '../components/Benefit.astro'
import Comments from '../components/Comments.astro'
import Refound from '../components/Refound.astro'
import Footer from '../components/Footer.astro'
---

<Layout title='Landing Page'>
  <main class='w-full lg:flex lg:flex-col'>
    <Header />
    <Hero />
    <Aboutus />
    <Info />
    <Products />
    <Product2 />
    <Benefit />
    <Comments />
    <Refound />
    <Footer />
  </main>
</Layout>
