<section class='bg-[#EEE9E3] w-full p-12 md:flex md:flex-col gap-24'>
  <h2 class='text-[#4C4947] text-3xl font-medium md:ml-16'>Como funciona</h2>

  <ul class='md:flex gap-32 justify-center'>
    <li class='w-[300px] md:flex md:flex-col md:gap-2 text-center items-center'>
      <img
        src='https://cdn-icons-png.flaticon.com/512/5389/5389163.png'
        alt=''
        class='w-40 h-40'
      />
      <h4 class='font-bold'>Elije tu muestra</h4>
      <p class='text-sm'>
        Cuéntanos sobre tu gato y nuestros nutricionistas expertos en gatos
        elaborarán tu plan de alimentación.
      </p>
    </li>
    <li class='w-[300px] md:flex md:flex-col md:gap-2 text-center items-center'>
      <img
        src='https://static.vecteezy.com/system/resources/previews/021/435/396/original/cute-happy-smile-face-playful-kitten-cat-calico-tri-color-cartoon-doodle-hand-drawn-outline-png.png'
        '
        alt=''
        class='w-40 h-40'
      />
      <h4 class='font-bold'>Prueba en casa</h4>
      <p class='text-sm'>
        En el plazo de una semana, se envía una caja de muestra directamente a
        su puerta. Prueba todo en casa y dale voz a tu gato
      </p>
    </li>

    <li class='w-[300px] md:flex md:flex-col md:gap-2 text-center items-center'>
      <img
        src='https://cdn-icons-png.freepik.com/512/6219/6219037.png'
        alt=''
        class='w-40 h-40'
      />
      <h4 class='font-bold'>Personaliza tu plan</h4>
      <p class='text-sm'>
        Ajuste su plan para adaptarlo a las preferencias de su gato. Necesitas
        más ayuda? Tenemos un equipo de conserjería para eso
      </p>
    </li>
  </ul>
</section>
