<section class='bg-[#EEE9E3] lg:flex gap-2 lg:justify-around px-8 py-12'>
  <div class='lg:flex lg:flex-col gap-2'>
    <h1 class='text-[#4C4947] text-3xl font-medium ml-8'>BENEFICIOS</h1>

    <ul
      class='lg:flex lg:flex-col gap-4 items-center justify-around p-8 w-[800px] h-full'
    >
      <li class='lg:flex gap-8'>
        <div
          class='rounded-[50%] bg-[#F1F9D8] border-[1px] border-black mt-2 w-12 h-12 p-2'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-ripple'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
              d='M3 7c3 -2 6 -2 9 0s6 2 9 0'></path><path
              d='M3 17c3 -2 6 -2 9 0s6 2 9 0'></path><path
              d='M3 12c3 -2 6 -2 9 0s6 2 9 0'></path></svg
          >
        </div>
        <div class='lg:flex lg:flex-col gap-2'>
          <p class='opacity-50'>MES 1</p>
          <h3 class='text-3xl
            font-bold'>
            Aliento fresco y una caja de arena con menos olor
          </h3>
          <p class='mt-2'>
            Cuando los gatos comen bien, ¡su caca es más saludable! Una mayor
            cantidad de nutrientes son digeribles y absorbidos, por lo que sale
            menos basura por el otro extremo.
          </p>
        </div>
      </li>
      <li class='lg:flex gap-8'>
        <div
          class='rounded-[50%] bg-[#B1DCE9] border-[1px] border-black mt-2 h-12 p-2'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-scale'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
              d='M7 20l10 0'></path><path d='M6 6l6 -1l6 1'></path><path
              d='M12 3l0 17'></path><path d='M9 12l-3 -6l-3 6a3 3 0 0 0 6 0'
            ></path><path d='M21 12l-3 -6l-3 6a3 3 0 0 0 6 0'></path></svg
          >
        </div>
        <div class='lg:flex lg:flex-col gap2'>
          <p class='opacity-50'>MES 2</p>
          <h3 class='text-3xl font-bold'>
            Pelaje brillante, menos bolas de pelo
          </h3>
          <p class='mt-2'>
            El pelaje de tu gato mejorará con una dieta equilibrada que generará
            menos perdida y menos bolas de pelo.
          </p>
        </div>
      </li>
      <li class='lg:flex gap-8'>
        <div
          class='rounded-[50%] bg-[#BC5325] border-[1px] border-black mt-2 h-12 p-2'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-bolt'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
              d='M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11'></path></svg
          >
        </div>
        <div class='lg:flex lg:flex-col gap2'>
          <p class='opacity-50'>MES 3</p>
          <h3 class='text-3xl font-bold'>
            Más energía para divertirse y jugar
          </h3>
          <p class='mt-2'>
            El alto contenido de proteínas y la hidratación mejorada promueven
            huesos fuertes y músculos tonificados. Para que los gatos puedan
            correr, saltar y perseguir
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class='mr-12'>
    <img
      src='https://img.freepik.com/foto-gratis/acercamiento-al-estilo-vida-mascotas_23-2149180534.jpg'
      alt=''
      class='rounded-2xl'
    />
  </div>
</section>
