<section class='w-full md:flex md:flex-col gap-20 px-[140px] py-14'>
  <h1 class='text-[#4C4947] text-3xl font-medium'>
    A los gatos les encanta SMALLS
  </h1>

  <ul class='md:grid md:grid-cols-4'>
    <li
      class='md:flex md:flex-col gap-2 justify-between text-center items-center w-[300px]'
    >
      <div>
        <img
          src='https://i2.wp.com/enelveterinario.com/wp-content/uploads/2019/05/comida-gatos.jpg?ssl=1'
          alt=''
          class='rounded-[50%] w-[200px] h-[200px] object-cover'
        />
      </div>

      <div class='md:flex md:flex-col gap-4'>
        <p>
          Despues de probar cosas y doctores diferentes tratando de resolver los
          problemas digestivos, estoy muy contento. Gracias
        </p>

        <p class='font-bold'>- Ezequiel</p>
      </div>
    </li>

    <li
      class='md:flex md:flex-col gap-2 justify-between text-center items-center w-[300px]'
    >
      <div>
        <img
          src='https://images.ecestaticos.com/LKWBY_TeBmnpAfCw7Ug_6dijSWE=/0x0:1000x750/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fe18%2Fbf8%2Faaa%2Fe18bf8aaa530cea5a6a2fa286065ef57.jpg'
          alt=''
          class='rounded-[50%] w-[200px] h-[200px] object-cover'
        />
      </div>

      <div class='md:flex md:flex-col gap-4'>
        <p>
          Tengo que decirles lo impresionado que quedé con el empaque, poder
          disolver la "espuma de poliestireno" es increíble.
        </p>

        <p class='font-bold'>- Orlando</p>
      </div>
    </li>

    <li
      class='md:flex md:flex-col gap-2 justify-between text-center items-center w-[300px]'
    >
      <div>
        <img
          src='https://images.hola.com/imagenes/mascotas/20201104178485/consejos-gatos-para-principiantes/0-884-859/gatito-m.jpg?tx=w_680'
          alt=''
          class='rounded-[50%] w-[200px] h-[200px] object-cover'
        />
      </div>

      <div class='md:flex md:flex-col gap-4'>
        <p>Mucho más activo y animado que antes. Una opción tan conveniente</p>

        <p class='font-bold'>- Francina</p>
      </div>
    </li>

    <li
      class='md:flex md:flex-col gap-2 justify-between text-center items-center w-[300px]'
    >
      <div>
        <img
          src='https://images.hola.com/imagenes/mascotas/20220728214490/estres-gatos-senales-alerta-dn/1-120-704/cosas-que-pueden-estresar-a-un-gato-m.jpg?tx=w_680'
          alt=''
          class='rounded-[50%] w-[200px] h-[200px] object-cover'
        />
      </div>

      <div class='md:flex md:flex-col gap-4'>
        <p>
          Siempre supe que estaba destinado a ser una estrella, así que me
          encantó ver su pelaje tan brillante. También empezó a beber mucha
          menos agua.
        </p>

        <p class='font-bold'>- Eduardo</p>
      </div>
    </li>
  </ul>

  <button class='mx-auto bg-black px-4 py-2 text-white rounded-lg'>
    Empezar</button
  >
</section>
