<footer
  class='w-full lg:flex lg:justify-around gap-14 p-8 border-t-2 border-black'
>
  <div class='lg:flex lg:flex-col gap-4'>
    <p>Explora lo nuevo</p>

    <p class='cursor-pointer font-bold'>Blog</p>
    <p class='cursor-pointer font-bold'>Ayuda</p>
  </div>

  <div class='lg:flex lg:flex-col gap-4'>
    <p>Contactos</p>

    <p class='cursor-pointer font-bold'>Escribemos al +54 9 1112341234</p>
    <p class='cursor-pointer font-bold'>small@smalloffers.com</p>
  </div>

  <div class='lg:flex lg:flex-col gap-4'>
    <p class='cursor-pointer font-bold'>Términos y Condiciones</p>

    <p class='cursor-pointer font-bold'>Políticas de Privacidad</p>

    <ul class='lg:flex gap-4'>
      <li class='cursor-pointer'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='icon icon-tabler icon-tabler-brand-facebook'
          width='30'
          height='30'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          fill='none'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
            d='M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3'
          ></path></svg
        >
      </li>
      <li class='cursor-pointer'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='icon icon-tabler icon-tabler-brand-instagram'
          width='30'
          height='30'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          fill='none'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
            d='M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z'
          ></path><path d='M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0'
          ></path><path d='M16.5 7.5l0 .01'></path></svg
        >
      </li>

      <li class='cursor-pointer'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='icon icon-tabler icon-tabler-x'
          width='30'
          height='30'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          fill='none'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
            d='M18 6l-12 12'></path><path d='M6 6l12 12'></path></svg
        >
      </li>
    </ul>
  </div>
  <div>
    <img
      src='https://previews.123rf.com/images/paramouse/paramouse1711/paramouse171100016/89533580-lindo-gatito-mascota-dom%C3%A9stica-pixel-diciendo-adi%C3%B3s-vector-aislado.jpg'
      alt=''
      class='w-20 h-20 rounded-full object-cover'
    />
  </div>
</footer>
