<header
  class='w-full bg-[#DFD9C6] items-center p-4 lg:flex lg:justify-around gap-5 border-b-[1px] border-black'
>
  <p class='font-200'>
    Prueba Smalls en casa y ahorra 25% con tu primera bolsa
  </p>

  <h1 class='text-2xl font-bold mr-[320px]'>SMALLS</h1>

  <button class='rounded rounded-xl bg-black text-white px-6 py-[4px] text-sm'
    >Empezar</button
  >
</header>
