<section class='w-full'>
  <div>
    <img
      src='https://www.realfoodingfordogs.com/wp-content/uploads/2023/05/Consejos-para-gatos-exigentes-1.jpg'
      alt='gato-comiendo'
      class='w-full object-cover'
    />
  </div>

  <ul class='w-full bg-[salmon] flex px-2 py-8 justify-evenly'>
    <li>
      <img
        src='https://mendoza.pluspet.com.ar/cdn/shop/collections/MARCA_PRO_PLAN_2l_s_fondo.png?v=1587487404'
        alt='proplan'
        class='w-32 h-14'
      />
    </li>
    <li>
      <img
        src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Royal-Canin-Logo.svg/2560px-Royal-Canin-Logo.svg.png'
        class='w-32 h-12'
        alt='royalcanin'
      />
    </li>
    <li>
      <img
        src='https://logolook.net/wp-content/uploads/2022/08/Whiskas-Emblem.png'
        alt='whiskas'
        class='w-32 h-12'
      />
    </li>
    <li>
      <img
        src='https://aratiendas.com/wp-content/uploads/2022/12/rocku.png'
        alt='nucat'
        class='w-32 h-12'
      />
    </li>
    <li>
      <img
        src='https://purina.com.ec/themes/custom/purina/purina/assets/images/logo/logo.png'
        alt='catchow'
        class='w-36 h-16'
      />
    </li>
  </ul>
</section>
