<section
  class='w-full items-center bg-[#FDD657] md:flex md:gap-12 p-14 md:justify-center'
>
  <div>
    <img
      src='https://www.eltiempo.com/files/article_main_1200/uploads/2024/02/07/65c3db3fb1e29.png'
      alt=''
      class='w-[400px] h-[500px] object-cover'
    />
  </div>

  <div class='md:w-[800px] md:flex md:flex-col md:gap-8'>
    <p class='text-start'>Nuestro enfoque</p>
    <h2 class='font-bold text-5xl'>La salud del gato comienza contigo.</h2>
    <p class='text-lg'>
      Los gatos necesitan mucho m치s que comida sabrosa. Creemos que las
      decisiones sobre su salud comienzan contigo - los padres del gato y el
      experto en nutrici칩n de gatos. Gracias a ti, escuchamos m치s, aprendemos
      m치s y nos acercamos a lo que los gatos realmente necesitan y quieren.
    </p>

    <button
      class='w-[200px] mx-auto rounded rounded-xl bg-black px-4 p-2 text-white'
      >Empezar</button
    >
  </div>
</section>
