<section
  class='bg-[#BC5325] lg:flex-col px-12 py-24 items-center w-full relative'
>
  <p class='text-center font-bold'>NUESTROS PRODUCTOS</p>

  <h1 class='text-center text-[100px] font-bold'>DRY KILLƧ</h1>

  <div
    class='lg:flex lg:flex-col justify-around text-center px-8 font-medium gap-4 rounded-xl py-4 absolute right-[360px] top-[550px] bg-white w-[300px] h-[300px] z-10'
  >
    <p>
      Recetas bajas en carbohidratos y altas en proteínas para gatos, a los que
      les gusta lo crujiente. Sin relleno. Sin adulteraciones
    </p>

    <button class='bg-[#B1DCE9] text-[#95A4A8] rounded-lg p-1'
      >Comprar Killz</button
    >
  </div>

  <div class='lg:flex justify-center lg:mr-[200px]'>
    <img src='./bengali.png' alt='' class='w-[1000px] z-0' />
  </div>
</section>
