<section
  class='lg:flex lg:flex-col bg-[#B1DCE9] px-12 py-24 items-center w-full relative'
>
  <p class='text-[#95A4A8] text-center font-bold'>NUESTROS PRODUCTOS</p>

  <h2 class='text-center text-[100px] font-bold'>FRESH KILLƧ</h2>

  <div
    class='lg:flex lg:flex-col justify-around text-center px-8 font-medium gap-4 rounded-xl py-4 absolute left-24 top-64 bg-white w-[300px] h-[300px] z-10'
  >
    <p>
      Lo más parecido a la naturaleza que puede comer tu gato: carne fresca de
      calidad humana con un poquito de verduras verdes. Cocido suavemente para
      retener los nutrientes y la humedad.
    </p>

    <button class='bg-[#B1DCE9] text-[#95A4A8] rounded-lg p-1'
      >Comprar Fresh</button
    >
  </div>

  <div class='lg:flex justify-center lg:mr-[200px]'>
    <img src='./gatocomiendo.png' alt='' class='w-[1000px] z-0' />
  </div>
</section>
