<section
  class='bg-[#EEE9E3] w-full md:flex gap-12 justify-between items-center px-[150px] py-[100px]'
>
  <p class='font-bold text-4xl opacity-[0.8]'>
    Garantía de devolución del dinero
  </p>

  <img
    src='https://www.zooplus.es/magazine/wp-content/uploads/2019/07/chat-heureux-768x513.jpg'
    alt=''
    class='w-[150px] h-[150px] rounded-full object-cover'
  />

  <p class='text-center text-[15px] w-[550px]'>
    ¿Estás nervioso porque a tu gato no le gustará Smalls? Smalls es tan sabroso
    que te reembolsaremos si tus gatos no lo comen
  </p>
</section>
